*{
    margin: 0;
    padding: 0;
    background-color: rgb(233, 225, 225);
    font-family: Avenir, sans-serif;
}

.logo {
    text-decoration: none;
    color: rgb(127, 124, 124);
    font: bold;
}

main {
    margin: 20px;
}

nav {
    height: 50vh;
}

nav ul {
    list-style-type: none;
    display: flex;
    float: right;
 }

 nav ul li a{
   text-decoration: none;
   margin: 0 20px;
   padding: 10px;
   border-radius: 10px;
   border: solid 1px transparent;
}

nav ul li a:hover{
  background-color: orange;
   color: white;
   font: bold;
   transition: 0.5s;
}

 .sentence p {
    margin: 130px;
    text-align: center;
    font-size: 1.3rem;
 }

section {
    display: block;
    margin: 200px 0;
}

#zone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px;
    gap: 20px;
}

#zone img {
    border-radius: 10px;
}

#zone p {
    font-size: 1.2rem;
}

section a {
    text-decoration: none;
}

.titre {
    text-align: center;
    color: rgb(114, 109, 109);
}

strong {
    color: rgb(114, 109, 109);
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(231, 221, 221);
    height: 30vh;
    align-items: center;
    border-radius: 10px;
 }

 footer div:only-child {
    background-color: rgb(231, 221, 221);
 }
 
 footer div {
    margin: 0 50px;
    background-color: rgb(231, 221, 221);
 }
 
 footer div ul {
    list-style-type: none;
    background-color: rgb(231, 221, 221);
 }
 
 footer div ul li {
    margin-bottom: 10px;
 }
 
 footer div ul li a{
    text-decoration: none;
    font-size: 1.2rem;
 }
 
 footer div ul li a:hover {
    color: orange;
    transition: 0.5s;
 }
 
 footer div p {
    margin-top: 20px ;
    color: rgb(250, 191, 81);
 }
 
 footer div a {
    text-decoration: none;
    font-size: 1.2rem;
 }

 .p {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
 }