*{
    margin: 0;
    padding: 0;
    background-color: rgb(233, 225, 225);
    font-family: Avenir, sans-serif;
}

.logo {
   text-decoration: none;
   color: rgb(127, 124, 124);
   font: bold;
}

.nav {
   text-align: center;
   margin-top: 250px;
   margin-bottom: 330px;
}

.nav h1 {
   color: rgb(120, 117, 117);
   margin: 20px;
   font-size: 1.2rem;
}

.nav p{
   font-size: 1.2rem;
}

nav {
    height: 50vh;
}

nav ul {
    list-style-type: none;
    display: flex;
    float: right;
 }

 nav ul li a{
    text-decoration: none;
    margin: 0 20px;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px transparent;
 }

 nav ul li a:hover{
   background-color: orange;
    color: white;
    font: bold;
    transition: 0.5s;
 }

 main {
    margin: 20px;
}

.section-1 {
   display: flex;
   gap: 20px;
  margin-top: 300px;
}

.section-1 button {
   cursor: pointer;
   padding: 5px;
   background-color: rgb(152, 148, 148);
   border-radius: 10px;
}

.section-1 button:hover {
   background-color: orange;
   color: white;
   transition: 0.5s;
}

.section-1 h2 {
   text-align: center;
   margin: 20px;
   color: rgb(133, 129, 129);
   font-size: 1.2rem;
}

.section-1 form input {
   border: 1px solid rgb(128, 125, 125);
   padding: 8px;
   margin: 10px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.section img {
    border-radius: 20px;
    width: 30%;
    height: 60%;
}

.section p {
   font-size: 1.3rem;

}

.name {
   padding: 20px;
}

.surname {
   padding: 20px;
}

.text {
   padding: 20px;
}

.submit {
   padding: 20px;
}

form {
   border: 1px solid rgb(159, 156, 156);
   border-radius: 10px;
   background-color: rgb(139, 135, 135);
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(231, 221, 221);
    height: 30vh;
    align-items: center;
    border-radius: 20px;
    margin-top: 200px;
 }

 footer div:only-child {
    background-color: rgb(231, 221, 221);
 }
 
 footer div {
    margin: 0 50px;
    background-color: rgb(231, 221, 221);
 }
 
 footer div ul {
    list-style-type: none;
    background-color: rgb(231, 221, 221);
 }
 
 footer div ul li {
    margin-bottom: 20px;
 }
 
 footer div ul li a{
    text-decoration: none;
    font-size: 1.2rem;
 }
 
 footer div ul li a:hover {
    color: orange;
    transition: 0.5s;
 }
 
 footer div p {
    margin-top: 20px ;
    color: rgb(250, 191, 81);
 }
 
 footer div a {
    text-decoration: none;
    font-size: 1.2rem;
 }

 .p {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
 }