* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    background-color: rgb(233, 225, 225);
}

main { 
    margin: 20px;
}

.logo {
    text-decoration: none;
    color: black;
    font: bold;
}
 
nav {
    height: 100vh;
}

 nav ul {
    list-style-type: none;
    display: flex;
    float: right;
 }

 nav ul li a{
   text-decoration: none;
   margin: 0 20px;
   padding: 10px;
   border-radius: 10px;
   border: solid 1px transparent;
}

nav ul li a:hover{
  background-color: orange;
   color: white;
   font: bold;
   transition: 0.5s;
}

 .nav {
    margin: 230px;
 }
 .nav p {
    text-align: center;
    margin-top: 30px;
    font-size: 1.2rem;
 }

 .nav h2 {
    color: rgb(114, 109, 109);
    font-size: 2rem;
 }

 nav ul li .active:active {
   color: orange;
 }

 .h3 {
   text-align: center;
   color: rgb(114, 109, 109);
   margin-bottom: 30px;
}

.container {
    display: flex;
}

.container div {
   margin: 0 10px;
}

.container div img {
   border-radius: 10px;
   margin-top: 30px;
}
 h2 {
   text-align: center;
   color: rgb(114, 109, 109);
   margin-top: 70px;
 }
.custom {
   display: flex;
   margin-top: 100px;
   margin-bottom: 150px;
}

.custom div {
   height: 60vh;
   margin: 0 10px;
   padding: 10px;
   border-radius: 10px;
   box-shadow: 1px 1px 5px;
}

.custom div img {
   width: 40%;
   height: 40%;
   border-radius: 100%;
}

footer {
   display: flex;
   justify-content: center;
   background-color: rgb(231, 221, 221);
   height: 30vh;
   align-items: center;
   border-radius: 10px;
}

footer div:only-child {
   background-color: rgb(231, 221, 221);
}

footer div {
   margin: 0 50px;
   background-color: rgb(231, 221, 221);
}

footer div ul {
   list-style-type: none;
   background-color: rgb(231, 221, 221);
}

footer div ul li {
   margin-bottom: 10px;
}

footer div ul li a{
   text-decoration: none;
   font-size: 1.2rem;
}

footer div ul li a:hover {
   color: orange;
   transition: 0.5s;
}

footer div p {
   margin-top: 20px ;
   color: rgb(250, 191, 81);
}

footer div a {
   text-decoration: none;
   font-size: 1.2rem;
}

.p {
   text-align: center;
   font-size: 1.2rem;
   margin-top: 20px;
}