*{
    margin: 0;
    padding: 0;
    background-color: rgb(233, 225, 225);
    font-family: Avenir, sans-serif;
}

nav {
    margin: 15px;
}

nav ul{
    display: flex;
    float: right;
}

nav ul li {
    margin: 0 15px;
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    margin: 0 20px;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px transparent;
 }

 nav ul li a:hover{
   background-color: orange;
    color: white;
    font: bold;
    transition: 0.5s;
 }

h1 {
    text-align: center;
    margin-top: 200px;
    color: rgb(114, 109, 109);
}
.section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    margin-top: 100px;
}

.section div{
    margin: 0 10px;
}

.section div p {
    font-size: 1.2rem;
}

.section div img {
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(231, 221, 221);
    height: 30vh;
    align-items: center;
    border-radius: 10px;
    margin-top: 150px;
 }
 
 footer div:only-child {
    background-color: rgb(231, 221, 221); 
 }
 
 footer div { 
    margin: 0 50px;
    background-color: rgb(231, 221, 221);
 }
 
 footer div ul {
    list-style-type: none;
    background-color: rgb(231, 221, 221);
 }
 
 footer div ul li {
    margin-bottom: 10px;
 }
 
 footer div ul li a{
    text-decoration: none;
    font-size: 1.2rem;
 }
 
 footer div ul li a:hover {
    color: orange;
    transition: 0.5s;
 }
 
 footer div p {
    margin-top: 20px ;
    color: rgb(250, 191, 81);
 }
 
 footer div a {
    text-decoration: none;
    font-size: 1.2rem;
 }

 .p {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
 }